@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Montserrat', Oswald, sans-serif;
    font-weight: 100;
    color: #002046;
}

/* Logo and headings */

h1,
h2 {
    font-family: 'Montserrat', Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: rgb(0, 7, 9);

}

#logo {
    float: left;
    font-size: 240%;
    margin-left: 30px;
}

/* Nav links*/

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu,
#logo {
    line-height: 90px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin: 10px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

/* Vilnius backdrop, main image & cover text*/

#Vilnius-zoom {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text,
#cover text h2 {
    color: #000000;

}

#vilnius {
    height: 600px;
    width: 100%;
    background-image: url('../images/sarunas-gedvilas-sb_huDX8sXw-unsplash\ \(1\).jpg');

    /* animates zoom effect on loading page*/
    animation: vilnius-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Level of zoom for main image*/

@keyframes vilnius-zoom {
    from {
        transform: scale(1)
    }

    to {
        transform: scale(1.1);

    }

}

#cover-text {
    font-size: 130%;
    font-family: 'Montserrat', Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(217, 241, 255, 0.9);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

/*Old town*/

#old-town {
    height: 600px;
}

#left-facts {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-facts {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-image {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-facts-heading {
    width: 80%;
    float: right;
    line-height: 40px;
    clear: both;
    margin-bottom: 50px;
}

.left-facts-heading h2 {
    text-align: left;
}


.right-facts-heading {
    width: 80%;
    float: left;
    line-height: 45px;
    clear: both;
    margin-bottom: 80px;
}

.right-facts-heading h2 {
    text-align: right;
}

.right-facts-heading p {
    text-align: right;
}

#old-town-facts {
    text-align: center;
    margin: 40px 0;
    font-size: 280%;
}

#center-image {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#Old-town-image-bg {
    background: url('../images/justina-leipuviene-0nhHgYZQ70I-unsplash.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/* Information aboiut national parks in vilnius */

#national-parks-title {
    width: 33%;
    margin: 0 auto;
    
}


#national-parks {
    background-image: url('../images/gabriele-stravinskaite-at6EMvdVELI-unsplash\ \(1\).jpg'); 
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

#national-parks div { 
    color: antiquewhite;
    background-color: rgba(0, 0, 0, 0.6);
    height: 180px;
    padding: 20px 0 0 20px;
    border: 2px solid white;
    box-sizing: border-box;
    
}

#national-parks h2 {
    color: antiquewhite;
    font-size: 30px;
}

#parks-title {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
}



