@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Montserrat', Oswald, sans-serif;
    font-weight: 100;
    color: #0053B1;
}

/* Logo and headings */

h1, h2 {
    font-family: 'Montserrat', Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #003169;

}

#logo {
    float: left;
    font-size: 240%;
    margin-left: 30px;
}
/* Nav links*/

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 90px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin: 10px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #003169;
}

.active {
    border-bottom: 1px solid #003169;
}
