@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Montserrat', Oswald, sans-serif;
    font-weight: 100;
    color: #002046;
}

/* Logo and headings */

h1,
h2 {
    font-family: 'Montserrat', Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: rgb(0, 7, 9);

}

#logo {
    float: left;
    font-size: 200%;
    margin-left: 30px;
}

/* Nav links*/

#menu {
    font-size: 90%;
    letter-spacing: 4px;
}

#menu,
#logo {
    line-height: 80px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin: 10px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

/* Vilnius backdrop, main image & cover text*/

#Vilnius-zoom {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text,
#cover text h2 {
    color: #000000;

}

#vilnius {
    height: 600px;
    width: 100%;
    background-image: url('../images/sarunas-gedvilas-sb_huDX8sXw-unsplash\ \(1\).jpg');

    /* animates zoom effect on loading page*/
    animation: vilnius-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Level of zoom for main image*/

@keyframes vilnius-zoom {
    from {
        transform: scale(0.9)
    }

    to {
        transform: scale(1.0);

    }

}

#cover-text {
    font-size: 80%;
    font-family: 'Montserrat', Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 200px;
    height: 100px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(217, 241, 255, 0.9);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

/*Old town*/

#old-town {
    height: 600px;
}

#left-facts {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-facts {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-image {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-facts-heading {
    width: 80%;
    float: right;
    line-height: 40px;
    clear: both;
    margin-bottom: 50px;
}

.left-facts-heading h2 {
    text-align: left;
}


.right-facts-heading {
    width: 80%;
    float: left;
    line-height: 45px;
    clear: both;
    margin-bottom: 80px;
}

.right-facts-heading h2 {
    text-align: right;
}

.right-facts-heading p {
    text-align: right;
}

#old-town-facts {
    text-align: center;
    margin: 40px 0;
    font-size: 280%;
}

#center-image {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#Old-town-image-bg {
    background: url('../images/justina-leipuviene-0nhHgYZQ70I-unsplash.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/* Information aboiut national parks in vilnius */

#national-parks-title {
    width: 33%;
    margin: 0 auto;

}


#national-parks {
    background-image: url('../images/gabriele-stravinskaite-at6EMvdVELI-unsplash\ \(1\).jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

#national-parks div {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    height: 190px;
    padding: 20px 0 0 20px;
    border: 2px solid white;
    box-sizing: border-box;

}

#national-parks h2 {
    color: white;
    font-size: 15px;
}

#national-parks h3 {
    color: white;
    font-size: 15px;
}

#parks-title {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
}


/* Footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #002046;
}

/* Scenery page*/

#photos {
    clear: both;
    column-gap: 0;
    column-count: 3;
    line-height: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

#photos>img {
    width: 100%;
}

/* Form */

.form-section {
    clear: left;
    background: url('../images/robert-noreiko-YfdzGPgnOj8-unsplash.jpg');
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 2px;
    padding: 4px;
    column-count: 2;
}

.signup-form>h2 {
    color: #fafafa;
    margin-bottom: 60px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 10px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 5px;
}

.text-input:hover {
    border-color: #f16c6b;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}


/* Media queries */

/* For larger to medium screens 1200px wide and below */
@media screen and (max-width: 1200px) {
    
    #old-town {
        width: 65%;
        height: unset;
        margin: 0 auto;
    }

    #Old-town-facts {
        padding: 30px 0;
        margin: 0;
    }

    #left-facts,
    #right-facts {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-image {
        clear: both;

        padding: 0;
    }

    #national-parks>div {
        width: 100%;
        clear: both;
        height: 190px;
        padding-left: 10px;

    }



    hr {
        display: none;
    }
}

/* For medium screen sizes 950px and down */

@media screen and (max-width 950px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text {
        font-size: 80%;
        font-family: 'Montserrat', Oswald, sans-serif;
        text-transform: uppercase;
        letter-spacing: 4px;

        width: 200px;
        height: 100px;

        padding-top: 40px;
        padding-left: 10px;

        background-color: rgba(217, 241, 255, 0.9);

        bottom: 30px;
        float: right;
        position: relative;
    }

    #old-town {
        width: 90%;
        height: unset;
        margin: 0 auto;
    }

    .left-facts-heading,
    .right-facts-heading {
        width: inherit;
    }

    .left-facts-heading h2,
    .right-facts-heading h2 {
        width: 100%;
        text-align: center;
    }

    .left-facts-heading p,
    .right-facts-heading p {
        text-align: center;
        padding: 0 20px;
    }
}

/* For small screen sizes below 800px width */
@media screen and (max-width: 800px) {
    
    #photos {
        column-count: 2;
    }

    #menu li {
        float: right;
        list-style-type: none;
        margin: 10px;
    }


}